body{
    background-color: #e5e5e5;
}

.nav-extended{
    background-image: url("https://img.alicdn.com/bao/uploaded/TB1b.vPSXXXXXXVaXXXXXXXXXXX.jpg");
    background-size: cover;
    background-blend-mode: soft-light;
}

nav ul li.active, .tab a.active {
    border-bottom: solid 2px #fff;
    background-color: transparent;
}

.nav-header h1{
    text-shadow:  2px 2px 15px #000;
}

.fadeOut{
    opacity:0;
    transition: 1s;
}

.card .card-content {
    padding: 15px;
    border-radius: 0 0 2px 2px;
   
}

.section{
    height: 500px;
    position: relative;
}

.img-apresentacao{
    opacity: 70%;
    position: center;
    object-fit: contain;
}

.btn-flat{
   align-content: center;
}

.btn-floating.halfway-fab {
    position: absolute;
    right: 10px;
    top: 10px; 
    /*bottom: 0px;*/
}

button[name="edit"] {

    position: absolute;
    right: 30px;
    top: 10px; 
    /*bottom: 0px;*/
 
    
}


