body{
    background-color: #e5e5e5;
    display: flex;
    min-height: 100vh;
    flex-direction: column
}

main {
    flex: 1 0 auto;
    padding: 0px;
    margin:0px;
}

/* backgrounds  */
.fundo-pesquisa{
    background-image: url("https://img.alicdn.com/bao/uploaded/TB1b.vPSXXXXXXVaXXXXXXXXXXX.jpg");
    background-size: cover;
    background-color: #ce93d8;
    background-blend-mode: soft-light;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.fundo-paginacao{
    background-image: url("https://img.alicdn.com/bao/uploaded/TB1b.vPSXXXXXXVaXXXXXXXXXXX.jpg");
    background-size: cover;
    background-color: #ce93d8;
    background-blend-mode: soft-light;
    padding: 10px;
}

.pagination li a {
    color: rgb(255, 255, 255);
  
}

.fundo-parallax{
    background-size: cover;
    background-color: #b457c4;
    background-blend-mode: soft-light; 
}

/* Input de busca */
.busca{
    opacity: 70%;
}

/* conteudo tela inicial */

.card .card-image .card-title{
    padding: 10px
}

@media screen and (min-width: 0px) {
    
    /* Pagina de Assistir */
    .image-assistir{
        max-height: 180px;
        border-radius: 10px;
    }
    /* grid com posters */
    .poster-filmes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #card-filme{
        width: 180px;
        align-content: center;
        grid-column-start: auto;
        grid-column-end: auto;
        align-self: center;
    }
    /* Carrosel */
    .carousel .carousel-item{
        width: 300px;
        margin-top: 00px;
        
    }
    .carousel{
        height: 250px;
    }
    
}
/* conteudo tela inicial */
@media screen and (min-width: 450px) {
    /* Card filme pequeno em massa*/
    #card-filme{
        width: 150px;
        align-self: center;
    }
    /* grid com posters */
    .poster-filmes{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    /* Carrosel */
    .carousel .carousel-item{
        width: 500px;
        margin-top: -40px;
    }    
    .carousel{
        height: 400px;
    }
    
}

@media screen and (min-width: 600px) {
   
    /* Card filme pequeno em massa*/
    #card-filme{
        width: 150px;
        align-self: center;
    }
    /* grid com posters */
    .poster-filmes{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    /* Carrosel */
    .carousel .carousel-item{
        width: 500px;
        margin-top: -40px;
    }

    .carousel{
        height: 400px;
    }
    
}

@media screen and (min-width: 750px) {
   
    /* Card filme pequeno em massa*/
    #card-filme{
        width: 150px;
        align-self: center;
    }
    /* grid com posters */
    .poster-filmes{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    /* Carrosel */
    .carousel .carousel-item{
        width: 500px;
        margin-top: -40px;
    }
    .carousel{
        height: 400px;
    }
    
}
@media screen and (min-width: 900px) {
   
    /* Card filme pequeno em massa*/
    #card-filme{
        width: 150px;
        align-self: center;
    }
    /* grid com posters */
    .poster-filmes {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    /* Carrosel */
    .carousel .carousel-item{
        width: 500px;
        margin-top: -40px;
    }
    .carousel{
        height: 400px;
    }
    
  } 
 @media screen and (min-width: 1098px) {
    
     /* Card filme pequeno em massa*/
    #card-filme{
        width: 150px;
        align-self: center;
    }
    /* grid com posters */
    .poster-filmes {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }

    /* Carrossel */
    .carousel .carousel-item{
        width: 500px;
        margin-top: -40px;
    }
    .carousel{
        height: 400px;
    }
}  


/* Parallax */
.parallax-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 280px;
    opacity: 80%;
}

.carousel .carousel-item h3{
    margin: -10px 0 0;
    /* background: rgba(0, 0, 0, 0.755); */
    color:rgb(255, 255, 255);
    font-size: 1.5em;
    text-align: center;
}

.title-destaque{
    background: rgba(0, 0, 0, 0.755);
    
}

/* Parallax */
.parallax-meio {
  margin-right: 70px;
  }

nav ul li.active, .tab a.active {
    border-bottom: solid 2px #fff;
    background-color: transparent;
}

.nav-header h1{
    text-shadow:  2px 2px 15px #000;
}

.divider {
    height: 10px;
}

.fadeOut{
    opacity:0;
    transition: 1s;
}

.card .card-content {
    padding: 15px;
    border-radius: 0 0 2px 2px;
   
}

/* Pagina de Assistir */
 .image-assistir{
    max-height: 450px;
    border-radius: 10px;
} 

.section.apresentacao-filme{
    background-size: cover;
    background-color: #ce93d8;
    background-blend-mode: lighten;
    text-align: justify;
    font-family: monospace;
  
}

.section.apresentacao-trailer{
    background-size: cover;
    background-color: #ce93d8;
    background-blend-mode: lighten;
}

.section.apresentacao-player{
    background-image: url('../imagens/f-player.jpg');
    background-size: cover;
    background-color: #ce93d8;
    background-blend-mode: darken;
}

.nota-titulo-sinopse{
    border-radius: 5px;
    max-height: 450px;
}

.botoes-save-favorito{
    padding: 10px;
    font-family: monospace;
}


/* Nota Página Assistir */
.btn-nota-assistir.halfway-fab {
    font: 400 11px 'Sniglet', arial, cursive;
    color: #000;
    padding: 5px;
    background: #f5c518;
    top: 5px;
 
}

.btn-flat{
   align-content: center;
}
/* Botão favorito */
.btn-fav.btn-floating.halfway-fab {
    position: absolute;
    right: 10px;
    top: 10px; 
}

/* Botão favorito detalhes sinopse */
.btn-fav-detalhes, .btn-save {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;  
}

.btn-fav-detalhes:hover{
    color: transparent;
}
#save-page-salvos{
    position: absolute;
    right: 10px;
    top: 10px; 
}


/* Botão Editar */
.btn-edit.btn-floating.halfway-fab{
    position: absolute; 
    right: 10px; 
    top: 70px;
}

/* link nota sem acesso */
a{
    color: none;
}

/* link nota mouse */
a:hover{
    color: none; 
}

/* Nota Galeria*/
.btn-nota.halfway-fab {
    font: 400 11px 'Sniglet', arial, cursive;
    color: #000;
    position: absolute;
    background: #f5c518;
    top: 5px;
    padding: 1px 3px 1px 1px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}

.imdb.material-icons{
    size: initial;
}

/* Titulo do card */
#titulo-content{
    font-size: small;
    text-align: center;
    background: rgba(0, 0, 0, 0.755);
    width: 100vh;
}

/*tela de login*/

:root {
    --input-linear:linear-gradient(120deg,#8E24AA, #CE93D8);
    --button-linear: linear-gradient(120deg, #8E24AA, #CE93D8, #8E24AA);
    --white:#fff;
    --black:#303030;
    --gray:#929292;
    --light-gray:#cfcfcf;
}
.main{
    background-image: url("https://img.alicdn.com/bao/uploaded/TB1b.vPSXXXXXXVaXXXXXXXXXXX.jpg");
    background-size: cover;
    background-blend-mode: soft-light;
    font-family: sans-serif;
}

.input__usuario, .input__senha{
    color: #fff;
}
.login{
    margin-top: 100px;
}

/* transparência e arredondamento do login e do cadastro de usuário */
.login .card{
    background: rgba(0, 0, 0, .6);
    border-radius: 8px;
}

.title-form{
    border-top-left-radius:8px;
    border-top-right-radius: 8px;
}

.login label{
    font-size: 16px;
    color:#ccc;
}

.login input {
    font-size: 16px !important;
}

.btn-login{
    border-radius: 08px;
    padding: 0px 40px;
    background-color: purple;
    width: 100%;
}
.login-button:hover{
    padding: 0px, 40px;
}

.esqueci-senha{
    padding-top: 12px;
    color: #ffffff;
}

.card-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-form-2{
    min-height: 500px;
    min-width: 300px;
}
/* Página de Controle */

.input-cadastro-filme{
    margin-bottom: 0px;
}


.hiddendiv common{
	z-index: 9999;
}

/* Página Favoritos e Salvos */
.save-fav{
    margin: 0%;
}

.subtitle {
    color: white;
    font-size: 2.1rem;
}